<?xml version="1.0"?>
<configuration>  
  <connectionStrings>
    <add name="manageUsers" connectionString="Data Source=localhost;Initial Catalog=hhidatabase;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="lessonGridview" connectionString="Data Source=localhost;Initial Catalog=hhidatabase;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="hhidatabaseConnectionStringRecommendation" connectionString="Data Source=localhost;Initial Catalog=hhidatabase;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="hhidatabaseConnectionString" connectionString="Data Source=localhost;Initial Catalog=hhidatabase;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="hhidatabaseConnectionString2" connectionString="Data Source=localhost;Initial Catalog=hhidatabase;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="hhidatabaseConnectionStringResources" connectionString="Data Source=localhost;Initial Catalog=hhidatabase;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="hhidatabaseConnectionStringRec" connectionString="Data Source=localhost;Initial Catalog=hhidatabase;Integrated Security=True"
  providerName="System.Data.SqlClient" />
    <add name="SqlDataSource1" connectionString="Data Source=localhost;Initial Catalog=hhidatabase;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <sessionState timeout="60"></sessionState>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>