<?xml version="1.0"?>
<configuration>  
  <connectionStrings>
    <add name="manageUsers" connectionString="server=hhidatabase.chi0h0eoorog.us-east-1.rds.amazonaws.com;
                database=hhidatabase;uid=hhi;password=hhidatabase;" />
    
    <add name="lessonGridview" connectionString="server=hhidatabase.chi0h0eoorog.us-east-1.rds.amazonaws.com;
                database=hhidatabase;uid=hhi;password=hhidatabase;" />
    
    <add name="hhidatabaseConnectionStringRecommendation" connectionString="server=hhidatabase.chi0h0eoorog.us-east-1.rds.amazonaws.com;
                database=hhidatabase;uid=hhi;password=hhidatabase;" />
    
    <add name="hhidatabaseConnectionString" connectionString="server=hhidatabase.chi0h0eoorog.us-east-1.rds.amazonaws.com;
                database=hhidatabase;uid=hhi;password=hhidatabase;" />
    
    <add name="hhidatabaseConnectionString2" connectionString="server=hhidatabase.chi0h0eoorog.us-east-1.rds.amazonaws.com;
                database=hhidatabase;uid=hhi;password=hhidatabase;" />
    
    <add name="hhidatabaseConnectionStringResources" connectionString="server=hhidatabase.chi0h0eoorog.us-east-1.rds.amazonaws.com;
                database=hhidatabase;uid=hhi;password=hhidatabase;" />

    <add name="hhidatabaseConnectionStringRec" connectionString="server=hhidatabase.chi0h0eoorog.us-east-1.rds.amazonaws.com;
                database=hhidatabase;uid=hhi;password=hhidatabase;" />
    <add name="SqlDataSource1" connectionString="server=hhidatabase.chi0h0eoorog.us-east-1.rds.amazonaws.com;
                database=hhidatabase;uid=hhi;password=hhidatabase;" />
    <add name="hhidatabaseConnectionStringFeedback" connectionString="server=hhidatabase.chi0h0eoorog.us-east-1.rds.amazonaws.com;
                database=hhidatabase;uid=hhi;password=hhidatabase;" 
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <sessionState timeout="60"></sessionState>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>